<div class="header">
  <div class="grid-2">
    <div class="navBar">
      <div>
        <app-logo></app-logo>
      </div>
      <div class="flexNavigation">
        <div>
          <app-navigation></app-navigation>
        </div>

        <div>
          <app-navigation></app-navigation>
        </div>

        <div>
          <app-navigation></app-navigation>
        </div>

        <div>
          <app-navigation></app-navigation>
        </div>
      </div>
      <div class="dropDownIcon">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="dropDownLink">
        <div>
          <app-navigation></app-navigation>
        </div>

        <div>
          <app-navigation></app-navigation>
        </div>

        <div>
          <app-navigation></app-navigation>
        </div>

        <div>
          <app-navigation></app-navigation>
        </div>
      </div>
    </div>

    <div class="search">
      <app-search></app-search>
    </div>
  </div>
  <div class="category">
    <app-category></app-category>
  </div>
</div>
