<div class="card">
  <div>
    <img
      class="image"
      src="https://www.themoviedb.org/t/p/w220_and_h330_face/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg"
      alt="movie"
    />
  </div>
  <div class="cardDetails">
    <div class="cardTitle">Dance With Me</div>
    <div class="flexBetween">
      <div>
        <div class="innerText grayText">
          <div class="flexBetween">
            <p>1999</p>
            <p>1 hr 6min</p>
          </div>
          <div class="flexBetween">
            <p>Drama</p>
            <p>Romans</p>
          </div>
        </div>
      </div>
      <div class="vote grayText">6.5</div>
    </div>
  </div>
</div>
