<div class="card">
  <div>
    <img
      class="image"
      src="{{ imageCard + movieCard.poster_path }}"
      alt="movie"
    />
  </div>
  <div class="cardDetails">
    <div class="cardTitle">{{ movieCard.title }}</div>
    <div class="flexBetween">
      <div>
        <div class="innerText grayText">
          <div class="flexBetween">
            <p>{{ movieCard.release_date }}</p>
            <p>1 hr 6min</p>
          </div>
          <div class="flexBetween">
            <p>Drama</p>
            <p>Romans</p>
          </div>
        </div>
      </div>
      <div class="vote grayText">{{ movieCard.vote_average?.toFixed(1) }}</div>
    </div>
  </div>
</div>
