body {
  background-color: black;
  min-height: 100vh;
}
.containerApp {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 900px) {
  .containerApp {
    max-width: 100%;
    margin: 0px;
    padding: 0;
  }
}
