<div class="movieList">
  <div class="cardContainer">
    <app-movie-card></app-movie-card>
  </div>
  <div class="cardContainer">
    <app-movie-card></app-movie-card>
  </div>
  <div class="cardContainer">
    <app-movie-card></app-movie-card>
  </div>
  <div class="cardContainer">
    <app-movie-card></app-movie-card>
  </div>
  <div class="cardContainer">
    <app-movie-card></app-movie-card>
  </div>
  <div class="cardContainer">
    <app-movie-card></app-movie-card>
  </div>
  <div class="cardContainer">
    <app-movie-card></app-movie-card>
  </div>
  <div class="cardContainer">
    <app-movie-card></app-movie-card>
  </div>
  <div class="cardContainer">
    <app-movie-card></app-movie-card>
  </div>
  <div class="cardContainer">
    <app-movie-card></app-movie-card>
  </div>
  <div class="cardContainer">
    <app-movie-card></app-movie-card>
  </div>
  <div class="cardContainer">
    <app-movie-card></app-movie-card>
  </div>
  <div class="cardContainer">
    <app-movie-card></app-movie-card>
  </div>
</div>
